$global-muted-background: #eceff4;
//$global-primary-background: #ec595a;
$global-secondary-background: #ec595a;
//$navbar-background: $global-primary-background;
$bodyFonts: "Noto Sans JP", sans-serif;
$titleFonts: "Noto Serif TC", serif;
$black-primary:#333;
$black-secondary:#929292;

@import 'node_modules/uikit/src/scss/variables-theme.scss';
@import 'node_modules/uikit/src/scss/mixins-theme.scss';
@import 'node_modules/uikit/src/scss/uikit-theme.scss';



body { 
  font-family: $bodyFonts;
  line-height: 1.8;
}
.all-category{
  background:#fff;
}

.header, .all-category{
  // background:#eee;
}
a{
  &:hover{
    text-decoration: none;
  }
}
.app-page{
  padding:30px 0px;
  border-top:solid 2px #eee;
  background:#f8f8f8;
}
.uk-navbar-nav{
  li{
    a{
      font-family: $titleFonts;
    }
  }
}

h1, h2, h3, h4, h5 {font-family: $titleFonts;font-weight: 900;}

.temperature {
  font-family: 'barometer', sans-serif;
  font-size: 130px;
}

.headroom-wrapper {
  height: auto !important;
}

.post-lists{
  border-top:solid 1px #e4e4e4;
  border-bottom:solid 1px #e4e4e4;
  padding:100px 0px;
  background:#f7f7f7;
}
.post-list-of-category{
  padding:50px 0px 100px;
}
.uk-logo{
  font-family: $titleFonts;
}

.post-main-content p:first-child {
    font-size: 1.5rem;
    line-height: 1.5;
    color: #333;
}
.uk-navbar-nav li a {
    font-family: "Noto Sans JP", sans-serif;
}